@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap');
@import url(styles-reset.css);
:root {
    --cor-branco: white;
    --cor-primaria: #262835;
    --cor-secundaria: #FF5473
}

html {
    background-color: var(--cor-primaria);
    font-family: 'Roboto';
}

main {
    width: 35.7rem;
    margin: 0 auto;
    box-sizing: border-box;
}